/* - - - - - - - ESTILO CRÉDITOS (wireframe) - - - - - - - */
#body-creditos {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: pink;
    border: 5px solid black;
}

/* Botón */
#body-creditos button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border: 1px solid #000;
    border-radius: 40px;
    background: red;
    border: 5px solid black;
    font-weight: 600;
    color: black;
}

#body-creditos button:hover {
    background: darkred;
    border: 5px solid black;
}

#body-creditos .creditos-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
    border: 5px solid black;
    box-sizing: border-box;
}

/* Marco principal que contiene todo */
#body-creditos .container {
    position: relative;
    width: 90vw;
    height: 80vh;
    overflow: hidden;
    background: blueviolet;
    border: 2px solid #000;
    border-radius: 20px;
    box-shadow: none;
    justify-content: center;
    align-items: center;
    border: 5px solid black;
}

/* Créditos con desplazamiento */
#body-creditos .credits {
    position: absolute;
    bottom: -70%;
    width: 100%;
    color: black;
    background-color: aqua;
    font-family: sans-serif;
    font-size: clamp(20px, 4vw, 54px);
    text-align: center;
    animation: scrollUp 30s linear infinite;
    border: 5px solid black;
    box-sizing: border-box;
}

/* Espaciado entre secciones */
#body-creditos .credits div {
    margin: 20px 0;
    border: 5px solid black;
    background-color: yellow;
}

/* Imagen dentro de los créditos */
#body-creditos .credits img {
    width: clamp(100px, 15vw, 200px);
    margin: 20px auto;
    display: block;
    border-radius: 12px;
    border: 5px solid black;
    background-color: fuchsia;
}

/* Bordes internos */
#body-creditos div.border-wf {
    margin-left: 15%;
    margin-right: 15%;
    border: 5px solid black;
    border-radius: 10px;
    background-color: yellowgreen;
}

#body-creditos div.border-logo {
    margin-left: 25%;
    margin-right: 25%;
    border: 5px solid black;
}

/* Animación */
@keyframes scrollUp {
    0% {
        bottom: -413%;
    }
    100% {
        bottom: 100%;
    }
}
