/* ESTILOS MAIN */
#body-main {
    margin: 0;
    border: 5px solid black;
    background-color: aqua;
    height: 98.7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Comic Sans MS';
    flex-direction: column;
}

#body-main form {
    border: 5px solid black;
    border-radius: 15px;
    padding: 55px;
    background-color: blueviolet;
}

#body-main select,
input {
    padding: 2px;
    border: 5px solid black;
    border-radius: 5px;
}

#body-main section {
    text-align: center;
    border-radius: 15px;
    margin: 50px;
}

#body-main h1 {
    text-align: center;
    border: 5px solid black;
    padding: 10px;
    margin: -10px;
    background-color: pink;
}

#body-main p {
    border: 5px solid black;
    padding: 5px;
    background-color: greenyellow;
}

#body-main button {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: -40px;
    border: 5px solid black;
    border-radius: 10px;
}

#body-main .imagenes {
    display: inline-flex;
    /* Pone los contenedores en la misma linea */
    justify-content: space-between;
    /* Coloca todo el espacio posible entre ambas imagenes */
    align-items: center;
    border: 5px solid black;
    background-color: crimson;
}

#body-main img#bandera-izq {
    max-width: 150px;
    height: auto;
}

#body-main img#bandera-der {
    max-width: 150px;
    height: auto;
}

#body-main .img-texto {
    display: flex;
    /* Imagen arriba, texto abajo */
    flex-direction: column;
    /* Centra ambos horizontalmente */
    align-items: center;
    margin: 15px;
}

#body-main.texto-imagen {
    margin-top: 8px;
    font-size: 14px;
    color: black;
}

/* ESTILO CRÉDITOS */
#body-creditos {
    margin: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

#body-creditos button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

#body-creditos .container {
    position: relative;
    width: 1400px;
    height: 700px;
    overflow: hidden;
    border: 2px solid yellow;
    /* wireframe visible */
    background-color: black;
}

#body-creditos .credits {
    position: absolute;
    bottom: -70%;
    width: 100%;
    color: yellow;
    font-family: monospace;
    font-size: 54px;
    text-align: center;
    animation: scrollUp 15s linear infinite;
}

#body-creditos .credits div {
    margin: 20px 0;
    text-shadow: 2px 2px 5px rgba(255, 255, 0, 0.7);
}

/* Animación que sube los créditos */
@keyframes scrollUp {
    0% {
        bottom: -300%;
    }

    100% {
        bottom: 100%;
    }
}

#body-creditos .credits img {
    width: 200px;
    margin: 20px auto;
    display: block;
}

#body-creditos div.border-wf {
    border: 2px solid white;
    margin-left: 250px;
    margin-right: 250px;
}

#body-creditos div.border-logo {
    border: 2px solid white;
    margin-left: 350px;
    margin-right: 350px;
}