/* - - - - - - - ESTILOS INDEX (wireframe) - - - - - - - */
#body-index {
    height: 96vh;
    justify-content: center;
    font-family: sans-serif;
    margin: 0;
    user-select: none;

    background: pink;

    color: black;
}

#body-index button {
    padding: 16px 30px;
    margin: 15px 40px 0 40px;
    border: 1px solid #000;
    border-radius: 40px;
    background: red;
    color: black;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    letter-spacing: 0.03em;
    border: 5px solid black;
}

#body-index button:hover {
    background: darkred;
    border: 5px solid black;
}

#body-index section {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 51px;
    background-color: skyblue;
    border: 5px solid black;
}

#body-index .selector {
    padding: 40px 60px;
    border-radius: 20px;
    background: blue;
    box-shadow: none;
    color: black;
    font-weight: 700;
    font-size: 1.3rem;
    letter-spacing: 0.06em;
    margin-bottom: 31px;
    margin-top: -30px;
    border: 5px solid black;
}

#body-index .container {
    width: 100%;
    max-width: 900px;
    margin-top: 10px;
    padding: 50px 60px;
    border-radius: 30px;
    background: blue;
    border: 5px solid #000;
    color: black;
    font-weight: 600;
    letter-spacing: 0.04em;
    margin-bottom: 30px;
}

#body-index h1 {
    font-size: 3.5rem;
    font-weight: 900;
    text-align: center;
    margin: 0;
    padding-bottom: 20px;
    color: black;
    background-color: blueviolet;
    border: 5px solid #000;
}

#body-index h2 {
    color: black;
    background-color: blueviolet;
    border: 5px solid #000;
}

#body-index p {
    background-color: blueviolet;
    border: 5px solid #000;
}
